<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title text-center">Chnage Password</h3>
          <form [formGroup]="myForm" (ngSubmit)="changePassword(myForm)">
            <div class="form-group">
              <label for="oldPassword">Old Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="oldPassword"
                name="oldPassword"
                required
              />

              <div
                *ngIf="
                  myForm.get('oldPassword')?.invalid &&
                  myForm.get('oldPassword')?.touched
                "
                class="text-danger"
              >
                <span *ngIf="myForm.get('oldPassword')?.errors?.['required']"
                  >Old Password is required !
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="newPassword"
                name="newPassword"
                required
              />
              <div
                *ngIf="
                  myForm.get('newPassword')?.invalid &&
                  myForm.get('newPassword')?.touched
                "
                class="text-danger"
              >
                <span *ngIf="myForm.get('newPassword')?.errors?.['required']"
                  >New Password is required !
                </span>
                <span *ngIf="myForm.get('newPassword')?.errors?.['minlength']"
                  >Min length 6 is required</span
                >
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm New Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                name="confirmPassword"
                required
              />
              <div
                *ngIf="
                  myForm.get('confirmPassword')?.invalid &&
                  myForm.get('confirmPassword')?.touched
                "
                class="text-danger"
              >
                <span
                  *ngIf="myForm.get('confirmPassword')?.errors?.['required']"
                  >Retype New Password !
                </span>
              </div>
            </div>
            <div class="text-center mt-3">
              <button
                type="submit"
                class="btn btn-success btn-block"
                [disabled]="myForm.invalid"
              >
                Change Password
              </button>
              <button type="reset" class="btn btn-secondary btn-block ms-3">
                Clear
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
